div[data-testid="stExpander"] div[role="button"] p {
    font-size: 1rem;
    font-weight: bold;
}


.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background: #ffffff;
    color: #111111;
}

.custom-table th, .custom-table td {
    border: 1px solid #888888;
    padding: 8px;
    text-align: left;
    color: #111111;
    background: #ffffff;
}

.custom-table th {
    background-color: #dbe7f3;
    font-weight: bold;
    color: #111111;
}

.stTable {
    width: 100%;
    overflow-x: auto;
}


.expander-image {
    max-width: 50%; /* Adjust the percentage as needed */
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
